body{
    margin: 0;
    padding: 0;
    background-image: url(img/FundoTLogin.jpeg);
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardLog{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 80px;
    width: 280px;
}

.h1{
    
}

.input-box{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;   
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #d376bc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cb96d8;
}

h1{
    color: #f4f4f4;
}